<!DOCTYPE html>
<html>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MLK698P');</script>
        <!-- End Google Tag Manager -->
        <meta content="public" http-equiv="Cache-control">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='./base.css') }}" rel="stylesheet"/>
        <title>DACAINGENIO</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>

    <body id="">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLK698P"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <header id="home">
            <div class="logo-container">
                    <div class="logo">
                    </div>
            </div>

            <div class="menu_container">
                <menu>
                    <ul>
                        <a href="#inicio">
                            <li>
                                Home
                            </li>
                        </a>
                        <a href="#about">
                            <li>

                            About
                            us
                            </li>

                        </a>
                        <a href="#services">
                                <li>Services</li>
                        </a>
                        <a href="#work">
                            <li>
                                    Our Work
                            </li>
                        </a>
                        <a href="#clients">
                            <li>
                                    Customers
                            </li>
                        </a>
                        <a href="#info">
                            <li>
                                    Contact
                            </li>
                        </a>
                    </ul>
                </menu>
            </div>
        </header>
        <main>
            <div class="landscape">
            </div>
            <div class="phrase_container section">
                <div class="auto_arm"></div>
                <div class="container_text">
                    <p class="phrase">
                        To offer world-class automation design services and equipment development, which help our customers to 
                        ensure their products are reliable, affordable, and available on demand, through strong management, and 
                        a philosophy of continuously improving of the quality of our services and our commitment to developing the 
                        skills and knowledge of our team
                    </p>
                </div>
                <div class="auto_arm flip"></div>
            </div>
            <div id="about" class="about section">
                <h2>
                    About us
                </h2>
                <p>
                    We are a high technology company with a  working team of more than 15 years of combined experience designing and using innovative automated test and assembly equipment.
                </p>
                <p>
                    Skilled Group in the design and fabrication of Test and Assembly Equipment for Industry.
                </p>
            </div>
            <div id="services" class="services section">
                <div class="service weoffer flex_text">
                    <h2>
                        ICT & FCT Technologies   
                    </h2>
                    <div class="text_description">
                        <div class="sectionleft">
                            <ul>

                                <li>
                                    Design and fabrication of ICT and FCT Fixtures.
                                </li>
                                <li>
                                    Develop of Test Applications for ICT, OBP, and FCT.
                                    <ul>
                                        <li>Manual Fixtures</li>
                                        <li>Vacuum fixtures</li>
                                        <li>In Line System Fixtures </li>
                                    </ul>
                                </li>
                                <li>
                                    Service of ICT and FCT Fixtures.
                                    <ul>
                                        <li>Re-work</li>
                                        <li>Vacuum fixtures</li>
                                        <li>Maintenance and Repair.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="technologies">
                        <div class="technology">
                            <figure>
                                <img height="20px" src="{{ url_for('static', filename='img/spealogo.png') }}" alt="spea">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="20px" src="{{ url_for('static', filename='img/TeradyneLogo.png') }}" alt="Teradyne">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="50px" src="{{ url_for('static', filename='img/Keysight-Logo.png') }}" alt="keysight">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="50px" src="{{ url_for('static', filename='img/labviewni.png') }}" alt="LabVIEW">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img width="150px" src="{{ url_for('static', filename='img/visualstudio.png') }}" alt="Visual Studio">
                            </figure>
                        </div>
                    </div>
                </div>
                <div id="testing" class="service weoffer">
                    <div class="descriptor">
                        ICT & FCT Technologies
                    </div>
                </div>
                <div id="automation" class="service weoffer">
                    <div class="descriptor">
                        Automation & Control Technologies
                    </div>
                </div>
                <div  class="service weoffer">
                    <div class="text_description">
                        <h2>Automation & Control Technologies
                        </h2>
                        <div class="sectionleft">
                            <ul>
                                <li>Dispensing Machines.</li>
                                <li>Leak / Flow Testers.</li>
                                <li>Screwing Stations.</li>
                                <li>Vision Systems.</li>
                                <li>Laser Marking Stations.</li>
                                <li>Assembly Stations.</li>
                                <li>Robotics.</li>
                                <li>Presses.</li>
                                <li>
                                    PC & PLC Based Software:
                                    <p style="padding-left: 1em; padding-right: 1em">
                                    LabView, BeckHoff, Test Stand, Visual Studio, SQL Databases, Process & Product Traceability,
                                    Siemens, AB, Direct Logic, Omron, Nais, Panasonic, Mitsubishi.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="technologies">
                        <div class="technology">
                            <figure>
                                <img height="80px" src="{{ url_for('static', filename='img/plcdirect.svg') }}" alt="plcdirect">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="20px" src="{{ url_for('static', filename='img/testStand.png') }}" alt="testStand">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="50px" src="{{ url_for('static', filename='img/siemens.png') }}" alt="siemens">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="30px" src="{{ url_for('static', filename='img/labviewni.png') }}" alt="labview">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="30px" src="{{ url_for('static', filename='img/rockwell.png') }}" alt="rockwell">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="30px" src="{{ url_for('static', filename='img/1280px-Beckhoff_Logo.svg.png') }}" alt="Beckhoff">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img width="50px" src="{{ url_for('static', filename='img/sql.png') }}" alt="SQL server">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img width="120px" src="{{ url_for('static', filename='img/oracle-sql-developer.png') }}" alt="ORACLE">
                            </figure>
                        </div>
                    </div>

                </div>
                <div class="service weoffer flex_text">
                    <h2>
                            Machining Services
                    </h2>
                    <div class="text_description">
                        <ul>
                            <li>
                                CNC service for machined prototypes and production parts.
                            </li>
                            <li>
                                Custom machined parts.
                            </li>
                        </ul>
                    </div>
                    <div class="technologies">
                        <div class="technology">
                            <figure>
                                <img height="40px" src="{{ url_for('static', filename='img/autocad.png') }}" alt="Autocad">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure style="background: #333; padding:8px;">
                                <img height="30px" src="{{ url_for('static', filename='img/ptc.png') }}" alt="PTC CREO">
                            </figure>
                        </div>
                        <div class="technology">
                            <figure>
                                <img height="40px" src="{{ url_for('static', filename='img/solidworkds.png') }}" alt="SOLIDWORKS">
                            </figure>
                        </div>
                    </div>
                </div>
                <div id="design" class="service weoffer">
                    <div class="descriptor">
                       MACHINING SERVICES
                    </div>
                </div>
            </div>
            <div id="clients" class="clients_container section">
                <h2>Customers</h2>
                <div class="clients" id="client">
                    <div class="client">
                        <div class="client_image">
                            <div class="client_logo_image">
    
                            </div>
                        </div>
                        <div class="client_info">
                            <p>ZF</p>
                        </div>
                    </div>
                </div>            
            </div>
        </main>
        <footer>
            <div class="footer_container">
                <div id="info" class="section_footer contact_info">
                    <ul>
                        <li>
                            <a href="mailto:ventas@dacaingenio.com">
                                <i class="material-icons">
                                    contact_mail
                                </i> ventas@dacaingenio.com
                            </a>
                        </li>
                        <li>
                            <a href="tel:+52(656) 263 05 19">
                                <i class="material-icons">
                                        contact_phone
                                </i> +52 (656) 654 8193
                            </a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/4GoGBinFdgwpGG5JA">
                                <i class="material-icons">
                                        location_city
                                </i>
                                Tercera #1536, Torres del PRI, 32574,  Cd. Juárez Chihuahua
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="section_footer footer_logo">
                    <img width="200" src="{{ url_for('static', filename='img/dacawhite.png') }}" alt="">
                </div>
                <div class="section_footer footer_partners">
                    <div class="partner">
                        PARTNERS
                        <figure>
                            <a target="_blank" href="https://www.adapterbau-kokott.de/">
                                <img width="200" src="{{ url_for('static', filename='img/kokott-logo.png') }}" alt="kokott">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="trade">
                2020 | DACAINGENIO
            </div>
        </footer>
        <a href="#home">
            <button style="position: fixed; bottom: 1em; border: none; box-shadow: 1px 1px 4px #333; right: 1em; border-radius: 50px; width: 50px; height: 50px; background: #FE5000; ">
                <i style="color: white" class="material-icons">
                arrow_upward
                </i>
            </button>
        </a>

    </body>

</html>